<div class="container-fluid">

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="card" style="width: 18rem;">
      <img
        src="https://www.toyota.com/imgix/content/dam/toyota/jellies/max/2022/tundra/limited/8252/040/2.png?fm=webp&&w=768&h=328&q=90"
        class="card-img-top" width="100" height="150">
      <div class="card-body">
        <h5 class="card-title">Toyota Tundra 2022</h5>
        <p class="card-text">La nueva Tundra 2022 está disponible a partir de este mes en los 98 puntos de venta Toyota
          con un precio de 1,249,900</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img
        src="https://s3.us-east-2.amazonaws.com/dealer-inspire-vps-vehicle-images/stock-images/thumbnails/large/chrome/8e1af113b466acb48c6d050525a4485c.png"
        class="card-img-top" width="100" height="150">
      <div class="card-body">
        <h5 class="card-title">Ford Ranger 2022</h5>
        <p class="card-text">Además de un poderoso motor, la Camioneta Pickup Ford Ranger Wildtrak 2022, cuenta con
          Interiores, Volante y Palanca de Velocidades forrados en piel</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img
        src="https://es.nissanusa.com/content/dam/Nissan/us/vehicles/maxima/vehicle-profile-assets/2023/23_Maxima_KH3_SR.png"
        class="card-img-top" width="100" height="150">
      <div class="card-body">
        <h5 class="card-title">Nissan Versa 2022</h5>
        <p class="card-text">El nuevo Nissan Versa integra más tecnologías y mejor diseño que te ayudan a retar lo
          establecido y aumentan tus posibilidades. Descúbrelo</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img
        src="https://di-uploads-pod34.dealerinspire.com/sheehybuickgmcfredericksburg/uploads/2022/01/Sierra-1500-2022-Offer-Car.png"
        class="card-img-top" width="100" height="150">
      <div class="card-body">
        <h5 class="card-title">GMC Sierra</h5>
        <p class="card-text">Sierra 2022: Mecánica · Motor V8 de 6.2 litros · Potencia de 425 HP y 460 libras-pie de
          torque · Transmisión automática de 10 velocidades</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>



  </div>


</div>
